<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt">
<head>
	<title>Ecommerce</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="/image/favicon.png" />
</head>
<body>
	<div th:each="pedido : ${pedidos}">
		<p th:text="${pedido.id}"></p>
		<p th:text="${pedido.formaPagamento}"></p>
	</div>
</body>
</html>