<!DOCTYPE html>
<html  xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{fragments/layout}" lang="pt">
    <head>

    </head>
    <body>
        <div class="container" layout:fragment="corpo">
            <h1 class="mt-3 mb-5">Carrinho</h1>
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Produto</th>
                                <th scope="col">Estoque</th>
                                <th scope="col" class="text-center">Quantidade</th>
                                <th scope="col" class="text-right">Preço Unitário</th>
                                <th scope="col" class="text-right">Preço total</th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${listaItens}">
                                <td><img th:src="${item.produto.urlFoto}" style=" width: 50px; height: 50px;" /> </td>
                                <td th:text="${item.produto.nome}">Product Name Dada</td>
                                <td>Em estoque</td>
                                <td style="text-align: center;">
                                    <a th:href="@{/alterarQuantidade/{id}/{acao}(id=${item.produto.id},acao=${1})}"><i class="bi bi-plus-square"></i></a>
                                    <span th:text="${item.quantidade}"></span>
                                    <a th:href="@{/alterarQuantidade/{id}/{acao}(id=${item.produto.id},acao=${0})}"><i class="bi bi-dash-square"></i></a>
                                </td>
                                <td class="text-right" th:text="${item.valorUnitario}" ></td>
                                <td class="text-right" th:text="${item.valorTotal}" ></td>
                                <td class="text-right"><a th:href="@{/removerProduto/{id}(id=${item.produto.id})}" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i> </a> </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Sub-Total</td>
                                <td class="text-right"><span th:text="${pedido.valor}"></span></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Frete</td>
                                <td class="text-right">R$ 0,00</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>Total</strong></td>
                                <td class="text-right"><span th:text="${pedido.valor}"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-sm-12  col-md-6">
<!--                            <a th:href="/" class="btn btn-lg btn-block btn-light">Continuar Comprando</a>-->
                        </div>
                        <div class="col-sm-12 col-md-6 text-right">
                            <a th:href="finalizar" class="btn btn-lg btn-block btn-primary text-uppercase">Finalizar Compra</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>